/* raleway-regular - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-600 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v28-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-800 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/raleway-v28-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* princess-sofia-regular - latin */
@font-face {
    font-family: 'Princess Sofia';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/princess-sofia-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/princess-sofia-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 1252px;
    margin: 0 auto;
}

/* Header styles start */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

body{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color: #090E16;
}

.header__wrapper{
    width: 1252px;
    height: 64px;
    background: rgba(123, 74, 226, 0.05);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 38px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
    padding-right: 24.25px;
    padding-bottom: 21px;
}

.header__item{
    margin-right: 67.5px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link1{
    font-weight: 700;
    font-size: 18px;
    color: #7B4AE280;
    text-decoration: none;
}

.header__link{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF80;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.header__link1:hover, .header__link1:focus, .header__link1:active{
    opacity: .75;
}

.header__logo{
    padding-bottom: 9.5px;
    padding-left: 6px;
}

.photo{
    margin-left: 511px;
    margin-top: 214px;
}

/* Header styles end */

/* Intro styles start */

.intro{
    height: 100vh;
    background-color: #090E16;
    background-size: cover;
    padding-top: 362px;
}

.intro__title{
    max-width: 411px;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.wrapper__title{
    margin-bottom: 24px;
}

.intro__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12.76px;
}

.whatsapp__call{
    width: 196px;
    height: 44px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
}

.button__text{
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: rgba(123, 74, 226, 0.5);
}

.button__block{
    width: 196px;
    height: 44px;
    margin-left: 1056px;
}


/* Intro styles end */

.line1{
    width: 1550px;
    height: 0px;
    margin-top: 200px;
    border: 1px solid rgba(123, 74, 226, 0.2)
}

.line2{
    width: 1550px;
    height: 0px;
    margin-top: 89px;
    border: 1px solid rgba(123, 74, 226, 0.2)
}

#square {
    width: 246px;
    height: 200px;
    background: transparent;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    margin-left: 300px;
    margin-top: 89px;
    display: inline-block;
}

.CodeIcon{
    margin-top: 38px;
    margin-left: 87px;
}

.text1{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 12px;
    text-align: center;
}

.text12{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
}

#square2 {
    width: 246px;
    height: 200px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    float: right;
    margin-top: 89px;
    margin-right: 300px;
}

.DesignIcon{
    margin-top: 38px;
    margin-left: 87px;
}

#square3 {
    width: 246px;
    height: 200px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    float: right;
    margin-top: 89px;
    margin-right: 70px;
}

.SportsIcon{
    margin-top: 38px;
    margin-left: 87px;
}

.information{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    width: 898px;
    height: 110px;
    background: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
    margin-left: 295px;
    margin-top: 35px;
}

.text__information1{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B4AE2;
    padding-top: 25px;
    padding-left: 105px;
}

.text__information2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B4AE2;
    padding-top: 25px;
    padding-left: 80px;
}

.text__information3{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B4AE2;
    padding-top: 25px;
    padding-left: 85px;
}

.text__information4{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #7B4AE2;
    padding-left: 25px;
    padding-bottom: 25px;
}

.text__information5{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #7B4AE2;
    padding-left: 70px;
}

.text__information6{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #7B4AE2;
    padding-left: 20px;
}

.myphoto{
    position: static;
    margin-left: 93px;
    margin-top: 93px;
    text-align: center;
    vertical-align: middle;
}

.aboutme{
    margin-left: 183px;
    margin-bottom: 300px;
    float: right;
    padding-top: 150px;
    padding-right: 150px;
}

.myname{
    max-width: 100px;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding-top: 24px;
}

.text__aboutme{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 24px;
}

.Skills{
    margin-left: 610px;
}

.text__skills{
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;  
    text-align: center;
    color: #FFFFFF;
    padding-top: 24px;
}

.text__skills2{
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 70px;
}

.WorkingTechs{
    margin-left: 250px;
    padding-top: 34px;
}

.contactsIcon{
    margin-left: 670px;
    margin-top: 150px;
}

.text__call{
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 24px;
}

.whatsapp__call2{
    width: 244.6px;
    height: 60px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
}

.button__text2{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(123, 74, 226, 0.5);
}

.button__block2{
    margin-left: 430px;
    padding-top: 111px;
    display: inline-block;
}

.whatsapp__logo2{
    padding-bottom: 5px;
}

.information__email{
    color: #7B4AE2;
    vertical-align: top;
    display: inline-block;
    padding-top: 111px;
    padding-left: 180px;
}

.information__myemail{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.footer{
    position: absolute;
    width: 1500px;
    height: 88px;
    background: rgba(123, 74, 226, 0.1);
    margin-top: 150px;
}

.text__footer{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 108px;
    padding-top: 32px;
    display: inline-block;
}

.SocialMedias__footer{
    vertical-align: top;
    padding-top: 30px;
    padding-left: 280px;
}